*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fluid{
    background: rebeccapurple;
    height: 100vh;
}
.navbar{
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: #220D75;
    justify-content: space-between;
    padding: 0px 40px 0px 60px;
    border: none;
    border-bottom: 1px solid #220D75;
}
.nav-list{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
    color: aliceblue;
}
.menu-list{
    list-style: none;
    margin: 20px;
}
.menu-list a{
    color: #220D75;
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
}
.menu-btn{
    margin-right: 20px;
    text-decoration: none;
    background: #220D75;
    padding: 10px 30px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;

}
.logo{
    font-family: 'poppins';
font-style: normal;
font-weight: bolder;
font-size: 30px;
line-height: 36px;

color: #1E0484;

}
.hero{
    display: flex;
    background: rgb(252, 252, 253);
    height: 89vh;
    position: relative;
}
.hero-section1{
/* position: absolute; */
width: 50%;
height: 192px;
/* left: 95px;
top: 31px;
font-family: 'Poppins';
font-style: 20px;
font-weight: 700;

line-height: 96px;
color: #813a3a; */
       
}
.hero-section1 h1{
position: absolute;
left: 95px;
top: 91px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 66px;
}
.hero-section1 p{
    position: absolute;
    
    top:250px;
    width: 604px;
height: 108px;
left: 95px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
color: #3C3C3D;
}
.hero-btn{
    position: absolute;
width: 248px;
height: 40px;
left: 95px;
top: 636px;
color: aliceblue;
border: none;
background: #220D75;
border-radius: 20px;   
top:340px;
}
.hero-section{
/* background-color: #000000; */
position: relative;
width: 50%;
}
.image{
    border: none;
position: absolute;
width: 400; 
 height: 400px;
left: 90px;
top: 71px;
background: #220D75;
border: 1px solid #000000;
border-radius: 50%; 
}
.img{
    /* border-radius: 50%;  */
 border-radius: 340.5px;
 width: 400px; 
 height: 400px;
}